__pycache__/
*.pyc
.idea/
# 忽略所有文件
*

# 允许遍历所有目录（否则 git 会直接忽略文件夹，导致里面的源码无法被添加）
!*/

# 保留这些类型的源码文件
!*.py
!*.ui
!*.bat
!*.iss
!*.yml
!*.yaml

# 如果你有其他需要保留的文本/配置文件，也可以加上：
!*.txt
!*.md
!*.ini
!*.json

# 保留 Git 目录本身
!.gitignore

# 忽略常见构建/发布目录
dist/
build/
*.dist/
*.spec
*.dist*

# 忽略虚拟环境
venv/
.env/
.env*/
